<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=<device-width>, initial-scale=1.0">
	<title>Online Cookbook</title>
	<!--Import materialize Icon-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Import Google fonts-->
    <link href="https://fonts.googleapis.com/css" rel="stylesheet">
    <!--Link for chartist-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <!--Link to the custom css-->
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>

<body>
    <header>
        <!--materialize navigation-->
            <nav>
                <div class="nav-wrapper">
                    <a href="{{url_for('index_page')}}" class="brand-logo">CookBook</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{url_for('index_page')}}">Home</a></li>
                        <!--check if the user is logged in-->
                        {% if session.user %}
                            <li><a href="{{url_for('insert_recipe')}}">New Recipe</a></li>
                        {% else %}
                            <li><a href="{{url_for('display_message')}}">New Recipe</a></li>
                        {% endif %}
                        <li><a href="{{url_for('search')}}">Search</a></li>
                        <li><a href="{{url_for('buy')}}">Buy</a></li>
                        <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                        <!--check if the user is logged in-->
                        {% if session.user %}
                            <li><a href="{{url_for('logout')}}">Logout</a></li>
                        {% else %}
                            <li><a href="{{url_for('login')}}">Login/SignUp</a></li>
                        {% endif %}
                    </ul>
                    <!--side navbar- responsive-->
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{url_for('index_page')}}">Home</a></li>
                        <!--check if the user is logged in-->
                        {% if session.user %}
                            <li><a href="{{url_for('insert_recipe')}}">New Recipe</a></li>
                        {% else %}
                            <li><a href="{{url_for('display_message')}}">New Recipe</a></li>
                        {% endif %}
                        <li><a href="{{url_for('search')}}">Search</a></li>
                        <li><a href="{{url_for('buy')}}">Buy</a></li>
                        <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                        <!--check if the user is logged in-->
                        {% if session.user %}
                            <li><a href="{{url_for('logout')}}">Logout</a></li>
                        {% else %}
                            <li><a href="{{url_for('login')}}">Login/SignUp</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>        
    </header>
    <!-- materialize container-->
    <div class="container-dimensions">
        <section>
            <!--flash messages-->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="row flashes">
                            <div class="col s12 m8 offset-m2 text-in-front ">
                            
                                <h4 class="center-align heading capitalize {{ category }}">{{message}}</h4>
                               
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>
   
        {%block content%}

        {%endblock%}
    </div>

    <!--footer with copyright info-->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright | CookBook
            </div>
        </div>
    </footer>
	<!--Import jQuery before materialize.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--Import script for chartist.js-->
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <!--custom script-->
    <script type="text/javascript" src="{{url_for('static', filename='js/customjs.js')}}"></script>
    <!--scripts needed to embed mongodb charts-->
    <script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.6.0/stitch.js"></script>
    <script src="https://unpkg.com/@mongodb-js/charts-embed-dom"></script>
    <!--script to display charts-->
    <script src="{{url_for('static', filename='js/mongodbCharts.js')}}"></script>
</body>
</html>