{% extends 'base.html' %}
{% block content %}
    <div class="row heading-spacing">
        <div class="col s12 background-small-screen">
            <h3 class="heading center-align ">
                Unleash Your Inner MasterChef
            </h3>
        </div> 
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <!-- materialize button-->
            <a class="waves-effect waves-light btn-large button-styling" href="{{url_for('search')}}"><i class="material-icons right">arrow_forward</i>Explore</a>
        </div>
    </div>
{% endblock %} 